h2{
  text-align: center;
}
#img-ph-certificate{
  height: 100%;
  width: 100%;
}
#ph-hero{
  height: 100%;
  width: 100%;
}
#hablu-sir{
  height: 100%;
  width: 100%;
  }
#salt-stone{
  height: 100%;
  width: 100%;
  }
#sheikh-mujib{
  height: 100%;
  width: 100%;
}